*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
app/libs/
lib_opencv410/build/generated/ap_generated_sources/
lib_opencv410/build/generated/res/
lib_opencv410/build/intermediates/aidl_parcelable/
lib_opencv410/build/intermediates/compiled_local_resources/
lib_opencv410/build/intermediates/data_binding_layout_info_type_package/
lib_opencv410/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/
lib_opencv410/build/intermediates/incremental/packageDebugResources/stripped.dir/
lib_opencv410/build/intermediates/library_assets/
lib_opencv410/build/intermediates/library_jni/
lib_opencv410/build/intermediates/merged_jni_libs/
lib_opencv410/build/intermediates/merged_native_libs/
lib_opencv410/build/intermediates/merged_shaders/
lib_opencv410/build/intermediates/public_res/
lib_opencv410/build/intermediates/shader_assets/
lib_opencv410/build/intermediates/stripped_native_libs/
lib_opencv410/build/tmp/
